h1{
    font-size: 58px;
}
h2{
    font-size: 57px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 25px;
}
h6{
    font-size: 24px;
}
.btn-text{
    font-size: 28px;
}
.mobile-menu{
    font-size: 45px;
}
p{
    font-size: 20px;
}
.link{
    font-size: 30px;
}
a{
    font-size: 24px;
}
$primary-color:#FFA62B;
$secondary-color-1:#00A0C1;
$secondary-color-2:#16697A;
$background-gradient-1: linear-gradient(to right,#D71489 #004788);
$text-color:#252B42;
$second-text-color:#737373;
$light-text-color:#FFFFFF;
$dark-background-color:#252B42;
$light-background-color:FFFFFF;
$hover-color:#2A7CC7;
$disabled-element-color:#8EC2F2;
$muted-color:#BDBDBD;
$success-color:#2DC071;
$alert-color:#E77C40;
$danger-color:#E74040;

$SHADOW: 0 13px 19px  rgba(0, 0, 0, 0.07);
$dramatic: -31px -22px 19px rgba(0, 0, 0, 0.3);
$Light-Dropshadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$Text-Shadow: 0 13px 19px rgba(0, 0, 0, 0.24);

$font: "Montserrat", sans-serif;